<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--1.定义connectionFactory对象-->
    <bean id="myConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.25.128:61616"/>
    </bean>
    <!--2.定义目标对象(商品审核)-->
    <bean id="goodsUpdateStatus" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg name="name" value="goodsUpdateStatus"/>
    </bean>
    <!--3.定义目标对象(商品删除)-->
    <bean id="goodsDelete" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg name="name" value="goodsDelete"/>
    </bean>
    <!--4.定义目标对象(生成静态页面)-->
    <bean id="genHtml" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg name="name" value="genHtml"/>
    </bean>
    <!--5.定义模板对象-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="myConnectionFactory"/>
        <property name="defaultDestination" ref="goodsUpdateStatus"/>
    </bean>
</beans>
