<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--配置包扫描路径-->
    <context:component-scan base-package="com.luquan"/>
    <!--配置activeMQ的连接工厂-->
    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.25.128:61611"/>
    </bean>
    <!--配置目标对象-->
    <bean id="springQuene" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg name="name" value="springQuene"/>
    </bean>
    <!--创建监听器对象-->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="springQuene"/>
        <property name="messageListener" ref="myMessageListener"/>
    </bean>
</beans>