<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--定义包扫描路径-->
    <context:component-scan base-package="com.pinyougou.page.listener"/>
    <!--定义连接工厂-->
    <bean id="connectionFactory1" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.25.128:61616"/>
    </bean>
    <!--定义目标对象-->
    <bean id="genHtml" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg name="name" value="genHtml"/>
    </bean>
    <!--定义监听器-->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory1"/>
        <property name="destination" ref="genHtml"/>
        <property name="messageListener" ref="myMessageListener"/>
    </bean>
</beans>