<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <dubbo:protocol port="20887" name="dubbo"/>
    <!--1.配置发布到zookeeper中的服务的名称-->
    <dubbo:application name="pinyougou-user-service" />
    <!--2.配置zookeeper中的注册地址-->
    <dubbo:registry address="zookeeper://192.168.25.128:2181"/>
    <!--3.配置zookeeper中的配置所在的包名-->
    <dubbo:annotation package="com.pinyougou.cart.service.impl"/>

</beans>