<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--配置页面静态资源的处理-->
    <!--前面表示请求的资源，后面表示放行-->
    <http pattern="/css/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/plugins/**" security="none"/>
    <http security="none" pattern="/register.html"/>
    <http security="none" pattern="/shoplogin.html"/>
    <http security="none" pattern="/seller/register.do"/>

    <!--处理页面的请求-->
    <http use-expressions="false">
        <!--配置角色-->
        <intercept-url pattern="/**" access="ROLE_ADMIN"/>
        <!--配置登录页，登录成功跳转的页面，登录失败跳转的页面-->
        <form-login login-page="/shoplogin.html" default-target-url="/admin/index.html"
                    always-use-default-target="true" authentication-failure-url="/shoplogin.html"/>
        <!--配置框架，使用的框架不会失效-->
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>
        <!--配置禁用csrf-->
        <csrf disabled="true"/>
        <!--配置注页面-->
        <logout/>
    </http>

    <!--配置认证管理器-->
    <authentication-manager>
        <authentication-provider user-service-ref="com.pinyougou.user.userService">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="com.pinyougou.user.userService" class="com.pinyougou.shop.service.UserServiceImpl">
        <beans:property name="sellerService" ref="sellerService"/>
    </beans:bean>
    <beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>



    <dubbo:application name="pinyougou-shop-web" />
    <dubbo:registry address="zookeeper://192.168.25.128:2181"/>
    <dubbo:reference interface="com.pinyougou.sellergoods.service.SellerService" id="sellerService"/>
</beans:beans>