<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--0.定义包扫描-->
    <context:component-scan base-package="com.pinyougou.service.listener"/>
    <!--1.定义connectionFactory对象-->
    <bean id="connectionFactory1" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.25.128:61616"/>
    </bean>
    <!--2.定义目标对象-->
    <bean id="goodsUpdateStatus" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg name="name" value="goodsUpdateStatus"/>
    </bean>
    <!--3.定义目标对象(商品删除)-->
    <bean id="goodsDelete" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg name="name" value="goodsDelete"/>
    </bean>
    <!--4.配置监听器容器对象(定义商品审核的容器)-->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory1"/>
        <property name="destination" ref="goodsUpdateStatus"/>
        <property name="messageListener" ref="myMessageListener"/>
    </bean>
    <!--5.配置监听器容器对象(定义商品删除的容器)-->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory1"/>
        <property name="destination" ref="goodsDelete"/>
        <property name="messageListener" ref="myMessageListener02"/>
    </bean>
</beans>